extends ./layout

block content
  h1 404
  p We may want to devote some time to making this a more pleasant experience.
  p However, that doesn't change the fact we still couldn't find what you were looking for.
