extends ../../common-templates/layout

block content
  .row
    .col-md-9
      h1 Processing that award-winning content
      p Give us a moment...

  script.
    setTimeout(() => window.location.reload(), 1000)
